@use "@styles/base/mixins/_rem-em.scss" as rem-em;
//@use "@styles/base/variables.scss" as vars;

.header {
    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
    &__container {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
    }

    &__logo {
        //color: tomato;
    }

    &__nav {
        @media (max-width: rem-em.em(950)) {
            position: absolute;
            top: 0;
            left: -130%;
            margin-top: 130px;
            padding: 40px 100px 40px 100px;
            min-height: 100vh;
            background: var(--md-sys-color-on-tertiary);
            z-index: -1;
            transition: all ease 0.7s;
            &.active {
                left: 0;
            }
        }
        @media (max-width: rem-em.em(550)) {
            width: 100%;
            padding-right: 24px;
            padding-left: 24px;
        }
    }

    &__contacts {
        @media (max-width: rem-em.em(950)) {
            display: none;
        }
    }

    &__burger {
        display: none;
        font-size: var(--font-size-xxxl);
        color: inherit;
        @media (max-width: rem-em.em(950)) {
            display: block;
        }
    }

    &__footer {
        display: flex;
        justify-content: end;
    }

    @media (max-width: rem-em.em(950)) {
        position: relative;
        z-index: 100;
    }
}
