@use "sass:math"; // Подключение модуля math
//@use "./base/null.scss";

// @use "./base/_variables.scss";
//@use "./base/mixins.scss"; // Подключение всех миксинов и функций
// @use "./base/media.scss";
// @use "./themes/v_01/_dark.scss";
// @use "./themes/v_01/_light.scss";
// @use "./fonts/fonts.scss";
//@use "./fonts/icons.scss";
//@use "./base/common.scss";

body {
    font-family: var(--font-family-base);
    background: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    font-size: var(--font-size-base);
}
.markdown__container {
    // h1 {
    //     font-size: var(--font-size-xxxl);
    // }
    // h2 {
    //     font-size: var(--font-size-xxl);
    // }
    code {
        font-size: 18px;
        line-height: 1.4;
        span {
        }
    }
}
