---
import TitleSections from '../ui/TitleSection.astro';

const titleSection = 'Процесс разработки';
const subTitleSection = 'Весь цикл разработки, с нуля и до результата, включает в себя всего девять шагов';
---

<div class="development-process">
  <div class="development-process__container">
    <TitleSections titleSection={titleSection} subTitleSection={subTitleSection} />
    <ol class="development-process__card-grup">
      <li class="development-process__card">
        <h3 class="development-process__card-title">Обсуждение</h3>
        <p class="development-process__card-text">Во время обсуждения оговаривается каким будет дизайн, функциональность, структура и содержание сайта. Так же заказчику желательно заполнить бриф.</p>
        <div class="development-process__card-footer">
          <button type="submit" class="button button--text">Подробнее</button>
        </div>
      </li>
      <li class="development-process__card">
        <h3 class="development-process__card-title">Изучение</h3>
        <p class="development-process__card-text">Анализ рынка и конкурентов - это важный шаг в разработке сайта. Разработчик исследует рынок, изучает конкурентов и определяет их сильные и слабые стороны.</p>
        <div class="development-process__card-footer">
          <button type="submit" class="button button--text">Подробнее</button>
        </div>
      </li>
      <li class="development-process__card">
        <h3 class="development-process__card-title">Дизайн-макет</h3>
        <p class="development-process__card-text">Макет сайта используеться для получения обратной связи от заказчика и внесения необходимых изменений до создания окончательного дизайна.</p>
        <div class="development-process__card-footer">
          <button type="submit" class="button button--text">Подробнее</button>
        </div>
      </li>
      <li class="development-process__card">
        <h3 class="development-process__card-title">Дизайн главной</h3>
        <p class="development-process__card-text">Далее создается дизайн первой страницы, подбирается цветовая палитра, стили шрифтов, различные элементы, которые будут использоваться на всех страницах</p>
        <div class="development-process__card-footer">
          <button type="submit" class="button button--text">Подробнее</button>
        </div>
      </li>
      <li class="development-process__card">
        <h3 class="development-process__card-title">Дизайн всего сайта</h3>
        <p class="development-process__card-text">Дизайн остальных страниц, повторяет стили главной. Основная цель это поддерживать стиль на всех страницах сайта одинаковым. Это очень важно.</p>
        <div class="development-process__card-footer">
          <button type="submit" class="button button--text">Подробнее</button>
        </div>
      </li>
      <li class="development-process__card">
        <h3 class="development-process__card-title">Верстка</h3>
        <p class="development-process__card-text">После подтверждения заказчиком дизайна сайта начинается его верстка, которая должна смотреться одинаково хорошо на всех устройствах и браузерах.</p>
        <div class="development-process__card-footer">
          <button type="submit" class="button button--text">Подробнее</button>
        </div>
      </li>
      <li class="development-process__card">
        <h3 class="development-process__card-title">Интеграция</h3>
        <p class="development-process__card-text">Если есть необходимость, сайт интегрируется на CMS, для упрощения добавления на сайт новых статей или новостей.</p>
        <div class="development-process__card-footer">
          <button type="submit" class="button button--text">Подробнее</button>
        </div>
      </li>
      <li class="development-process__card">
        <h3 class="development-process__card-title">Публикация</h3>
        <p class="development-process__card-text">Публикация включает в себя подключение и приобретение домена, выбор провайдера, исходя из потребностей сайта. Подбирается более оптимальное решение.</p>
        <div class="development-process__card-footer">
          <button type="submit" class="button button--text">Подробнее</button>
        </div>
      </li>
      <li class="development-process__card">
        <h3 class="development-process__card-title">Аналитика</h3>
        <p class="development-process__card-text">Подключаются отдельные скрипты, для последующей аналитики сайта и мониторинга переходов по ссылкам. Для дальнейшего анализа и улучшения поведения.</p>
        <div class="development-process__card-footer">
          <button type="submit" class="button button--text">Подробнее</button>
        </div>
      </li>
    </ol>
  </div>
</div>

<style lang="scss">
  @use '@styles/base/mixins/grid.scss' as grid;
  @use '@styles/base/mixins/counter' as counter;

  .development-process {
    &__container {
    }

    &__card-grup {
      @include grid.grid-3-columns(var(--space-grid-gap));
      //
      @include counter.counter($name: 'dev-process', $format: decimal-leading-zero, $start: 1, $delimiter: ' ');
    }

    &__card {
      overflow: hidden;
      padding: var(--space-all-card);
      box-shadow: var(--box-shadow-Light-03);
      border-radius: var(--border-radius-medium);
      position: relative;
      &::before {
        bottom: 8px;
        left: 18px;
        // bottom: 8px;
        // left: 12px;
        font-weight: var(--font-weight-bold);
        color: var(--md-sys-color-secondary-fixed);
        font-size: var(--font-size-headline-small);
      }
      &::after {
        content: '';
        position: absolute;
        height: 120px;
        width: 120px;
        transform: rotate(45deg);
        bottom: -85px;
        left: -30px;

        z-index: -1;
        background: var(--md-sys-color-on-secondary-fixed);
        border-radius: var(--border-radius-medium);
      }
      // Треугольник
    }

    &__card-title {
      font-size: var(--font-size-xxl);
      color: var(--md-sys-color-on-surface-variant);
      margin-bottom: var(--space-md);
    }

    &__card-text {
      color: var(--md-sys-color-secondary);
      margin-bottom: var(--space-xl);
      min-height: 106px;
    }

    &__card-footer {
      text-align: end;
      position: relative;
    }
  }
  // .list {
  //   @include counter(item-counter, 1, 1);

  //   li::before {
  //     content: counter(item-counter) ". ";
  //     margin-right: 0.5rem;
  //   }
  // }
</style>
