---
//import Accordion from "../ui/Accordion.astro";
import TitleSections from '../ui/TitleSection.astro';

const titleSection = 'Что получает заказчик?';
const subTitleSection = 'По завершению проекта  заказчик получает работающий сайт и архив с файлами, для последующей поддержки и массштабирования проекта. В этом и есть ключевой плюс перед конструкторами сайтов.';
---

<div class="result animate">
  <div class="result__container">
    <TitleSections titleSection={titleSection} subTitleSection={subTitleSection} />
    <div class="result__accordion-wrap">
      <!-- <Accordion items={accordionItems} /> -->
      <div data-spollers data-one-spoller class="spollers">
        <div class="spollers__item">
          <button type="button" data-spoller class="spollers__title">Опубликованный сайт</button>
          <div hidden class="spollers__body">
            <p class="spollers__body-text">Готовый веб-сайт: Заказчик получает полностью разработанный и функционирующий веб-сайт, который готов для доступа посетителей.</p>
            <p class="spollers__body-text">Дизайн и визуальное оформление: Веб-сайт будет иметь уникальный дизайн, соответствующий бренду или предпочтениям заказчика. Визуальные элементы, такие как логотип, цветовая схема, шрифты и изображения, будут включены в дизайн сайта.</p>
            <p class="spollers__body-text">Оптимизированная структура и навигация: Сайт будет иметь логическую и удобную структуру, которая облегчает посетителям навигацию по разделам и страницам. Это помогает улучшить пользовательский опыт и обеспечивает легкость в поиске информации.</p>
            <p class="spollers__body-text">Функциональность и интерактивность: Заказчик получает сайт с необходимыми функциями и возможностями, такими как контактные формы, блог, галереи изображений, корзина покупок и другие функции, которые соответствуют его бизнес-потребностям.</p>
            <p class="spollers__body-text">Адаптивный дизайн: Сайт будет адаптирован для отображения на различных устройствах, таких как компьютеры, планшеты и мобильные телефоны. Это обеспечивает оптимальное отображение и удобство использования сайта для всех пользователей.</p>
            <p class="spollers__body-text">Возможность самостоятельного управления: В зависимости от типа сайта и требований заказчика, может быть предоставлен доступ к системе управления контентом (CMS), что позволяет заказчику вносить изменения, обновлять контент и управлять своим сайтом без необходимости обращения к разработчикам.</p>
          </div>
        </div>
        <div class="spollers__item">
          <button type="button" data-spoller class="spollers__title">Исходники</button>
          <div hidden class="spollers__body">
            <p class="spollers__body-text">После завершения проекта заказчик сайта может получить различные исходные файлы, в зависимости от условий и договоренностей между заказчиком и разработчиком.</p>
            <p class="spollers__body-text">Дизайн-макеты: Заказчик может получить исходные файлы дизайна, такие как файлы Adobe Photoshop (PSD) или Sketch (SKETCH), которые содержат все слои и элементы дизайна. Это позволяет заказчику внести изменения в дизайн в будущем или передать его другим дизайнерам.</p>
            <p class="spollers__body-text">Графические ресурсы: Исходные файлы графических элементов, таких как логотипы, иллюстрации, иконки и изображения, могут быть предоставлены заказчику. Это может включать файлы в форматах Adobe Illustrator (AI), Adobe Photoshop (PSD), или векторные файлы в форматах SVG или EPS. Заказчик может использовать эти файлы для внесения изменений в графические ресурсы или их использования в других контекстах.</p>
            <p class="spollers__body-text">Кодовые файлы: Если заказчиком был предоставлен доступ к исходному коду, он может получить файлы с расширениями, такими как HTML, CSS, JavaScript, PHP и т. д. Эти файлы содержат программный код, используемый для создания и функционирования сайта. Заказчик может использовать эти файлы для внесения изменений в код или передачи проекта другому разработчику.</p>
            <p class="spollers__body-text">Важно отметить, что доступ к исходным файлам может быть ограничен согласно договоренностям или лицензионным соглашениям. Поэтому рекомендуется уточнить с разработчиком, какие исходные файлы будут предоставлены и как они могут быть использованы заказчиком после завершения проекта.</p>
          </div>
        </div>
        <div class="spollers__item">
          <button type="button" data-spoller class="spollers__title">Техническая поддержка</button>
          <div hidden class="spollers__body">
            <p class="spollers__body-text">После завершения проекта заказчик сайта может получить техническую поддержку, которая обеспечивает помощь и решение возникающих проблем с сайтом. В рамках льготного периода в три месяца на обслуживание сайта</p>
            <p class="spollers__body-text">Исправление ошибок и проблем: Если возникают ошибки или проблемы на сайте, заказчик может обратиться к разработчику для их исправления. Это может включать исправление ошибок в коде, устранение проблем с функциональностью или решение других технических проблем.</p>
            <p class="spollers__body-text">Обновление и поддержка контента: Заказчик может получить помощь в обновлении и поддержке контента на сайте. Это может включать добавление новых страниц, обновление информации, загрузку новых изображений или другие изменения, связанные с контентом сайта.</p>
            <p class="spollers__body-text">Резервное копирование и восстановление данных: В случае потери данных или сбоя на сайте, заказчик может рассчитывать на помощь в восстановлении данных из резервных копий. Разработчик может предоставить регулярные резервные копии сайта и помочь восстановить данные в случае необходимости.</p>
            <p class="spollers__body-text">Обновление безопасности: Разработчик может обеспечить обновление безопасности сайта, чтобы защитить его от уязвимостей и атак. Это может включать установку обновлений программного обеспечения, плагинов или тем, а также мониторинг безопасности сайта.</p>
            <p class="spollers__body-text">Консультации и поддержка: Заказчик может получить консультации и поддержку от разработчика по вопросам, связанным с сайтом. Это может включать помощь в настройке дополнительных функций, оптимизации производительности или ответы на вопросы заказчика.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style lang="scss">
  //@use '../base/media.scss' as media;

  .spollers {
    display: grid;
    gap: var(--space-grid-gap);

    //border: 1px solid #000;
    width: 100%;
  }
  // Спойлер
  .spollers__item {
    display: block;

    //font-size: rem(20);
  }
  // Заголовок спойлера
  .spollers__title {
    width: 100%;
    cursor: default;
    text-align: left;
    padding: var(--space-all-card);
    //margin-bottom: 12px;
    font-size: var(--font-size-headline-large);
    color: var(--md-sys-color-on-surface-variant);
    background: var(-md-sys-color-surface-container-low);
    box-shadow: var(--box-shadow-Light-01);
    border-radius: var(--border-radius-medium);
    position: relative;

    ._spoller-init & {
      cursor: pointer;
      &::after {
        font-family: 'icomoon';
        content: '\e968';
        position: absolute;
        right: 10px;
        transition: transform 0.5s ease 0s;
      }

      &._spoller-active {
        &::after {
          transform: rotate(90deg);
        }
      }
    }
  }
  // Контент спойлера
  .spollers__body {
    background-color: color-mix(in srgb, var(--md-sys-color-primary) 10%, transparent);
    //padding-top: var(--space-xl);
    padding: var(--space-all-card);
    border-radius: var(--border-radius-medium);
  }
  .spollers__body-text {
    color: var(--md-sys-color-secondary);
    margin-bottom: var(--space-sm);
    position: relative;
    padding-left: 20px;
    &::before {
      font-family: 'icomoon';
      content: '\e9cd';
      position: absolute;
      top: 0;
      left: 0;
    }
  }
</style>
