---

---

<section class="section-test">
<div class="section-test__container">
        <div class="section-title-wrap">
            <h2 class="section-title">section-test-title</h2>
            <p class="section-subtitle">section-test-subtitle</p>
        </div>
    </div>
</section>

<style lang="scss">
.section-test {

		&__container {
		}
}
.section-title-wrap {
}
.section-title {
	font-size: var(--font-size-xxl);
	padding: var(--space-section) 0 var(--space-section);
}
.section-subtitle {
}

</style>