---
import '../styles/main.scss';

import Header from '../components/partials/Header.astro';
import Footer from '../components/partials/Footer.astro';
import ThemeToggle from '../components/ui/ThemeToggle.astro';
// Импортируем глобальные стили MD
//import '@astrojs/markdown-remark/markdown.css';

const { title = 'Главная' } = Astro.props;
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <!-- Добавляем meta-тег для системной темы -->
    <!-- <meta name="color-scheme" content="light dark" />
        <meta name="theme-color" content="var(--md-sys-color-background)" /> -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Базовые иконки -->
    <link rel="icon" href="/favicon/favicon.ico" sizes="any" />
    <link rel="icon" href="/favicon/favicon.svg" type="image/svg+xml" />

    <!-- Адаптивные иконки -->
    <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <script>
      import '@scripts/main.js';
    </script>
    <title>{title}</title>
  </head>
  <body class="wrapper">
    <div class="wrapper-theme-toggle">
      <ThemeToggle />
    </div>
    <Header />
    <main class="page">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style lang="scss">
  .wrapper-theme-toggle {
    padding: var(--space-all-card);
    position: fixed;
    &.theme-toggle {
      content: '';
      position: absolute;
      right: 0;
    }
  }
</style>
