// Кнопка (добавьте в ваш SCSS)
.button {
  // Базовые стили
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-y-button) var(--space-x-button);
  border-radius: var(--border-radius-full);
  border: 1px solid transparent;
  font-family: var(--font-family-base);
  font-size: var(--font-size-md);
  letter-spacing: var(--letter-spacing-wider);
  line-height: 1;
  cursor: pointer;
  transition: all var(--transition-duration-slow);
  gap: var(--space-xs);

  // Модификаторы
  &--filled {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    padding: var(--space-y-button) var(--space-x-button);
    &:hover {
      box-shadow: var(--box-shadow-Light-01);
    }

    &:focus {
    }

    &:active {
    }

    &:disabled {
      opacity: 0.6;
      pointer-events: none;
      cursor: not-allowed;
      background-color: var(--md-sys-color-outline);

      // Убираем эффекты hover/focus
      &:hover,
      &:focus {
        box-shadow: none;
        transform: none;
      }
    }
  }
  &--outlined {
    &:hover {
    }

    &:focus {
    }

    &:active {
    }

    &:disabled {
    }
  }

  &--elevated {
    background-color: transparent;

    &:hover {
    }

    &:focus {
    }

    &:active {
    }

    &:disabled {
    }
  }

  &--text {
    background-color: transparent;
    color: var(--md-sys-color-primary);
    &::after {
      font-family: 'icomoon';
      content: '\ea3c';
      width: 18px;
      height: 18px;
      color: inherit;
      bottom: 0;
      right: 0;
    }

    &:hover {
      background: var(--State-Layers-Primary-Opacity-08, rgba(101, 85, 143, 0.08));
    }

    &:focus {
    }

    &:active {
    }

    &:disabled {
    }
  }
  &--tonal {
    background-color: var(--md-sys-color-error);

    &:hover {
    }

    &:focus {
    }

    &:active {
    }

    &:disabled {
    }
  }
  // Размеры
  &--sm {
    padding: var(--space-xs) var(--space-sm);
    font-size: var(--font-size-sm);
  }

  &--lg {
    padding: var(--space-md) var(--space-lg);
    font-size: var(--font-size-lg);
  }
}
/* 
<button class="button">Основная</button>
<button class="button button--secondary">Вторичная</button>
<button class="button button--text">Текстовая</button>
<button class="button button--danger">Опасность</button>
<button class="button" disabled>Отключена</button>

<!-- С иконкой -->
<button class="button">
  <span class="button__icon">♻</span>
  С иконкой
</button>

<!-- Разные размеры -->
<button class="button button--sm">Маленькая</button>
<button class="button button--lg">Большая</button>

*/
