---
import Animations from './Animations.astro';

const { titleSection, subTitleSection } = Astro.props;
---

<Animations />
<div class="title-sections__wrap fade fade--from-left fade--delay-2" data-observe="fade">
  <h2 class="title-sections__title">{titleSection}</h2>
  <h3 class="title-sections__subtitle">{subTitleSection}</h3>
</div>

<style lang="scss">
  .title-sections {
    &__wrap {
      padding: var(--space-md);
      border-left: var(--border-width-heavy) solid var(--md-sys-color-primary);
      margin-bottom: var(--space-xl);
    }

    &__title {
      color: var(--md-sys-color-primary);
      font-size: var(--font-size-display-large);
      text-shadow: var(--text-shadow-Light-03);
      margin-bottom: var(--space-sm);
    }

    &__subtitle {
      color: var(--md--sys-color-secondary);
      text-shadow: var(--text-shadow-Light-02);
      font-size: var(--font-size-xxl);
    }
  }
</style>
